# Population Statistics

In [11]:
### Imports

In [11]:
%pip install wbdata
%pip install pandas

import wbdata
import pandas

Requirement already satisfied: wbdata in /srv/conda/lib/python3.9/site-packages (0.3.0)
Requirement already satisfied: requests>=2.0 in /srv/conda/lib/python3.9/site-packages (from wbdata) (2.31.0)
Requirement already satisfied: appdirs<2.0,>=1.4 in /srv/conda/lib/python3.9/site-packages (from wbdata) (1.4.4)
Requirement already satisfied: tabulate>=0.8.5 in /srv/conda/lib/python3.9/site-packages (from wbdata) (0.9.0)
Requirement already satisfied: decorator>=4.0 in /srv/conda/lib/python3.9/site-packages (from wbdata) (5.0.9)
Requirement already satisfied: idna<4,>=2.5 in /srv/conda/lib/python3.9/site-packages (from requests>=2.0->wbdata) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in /srv/conda/lib/python3.9/site-packages (from requests>=2.0->wbdata) (2022.12.7)
Requirement already satisfied: charset-normalizer<4,>=2 in /srv/conda/lib/python3.9/site-packages (from requests>=2.0->wbdata) (3.1.0)
Requirement already satisfied: urllib3<3,>=1.21.1 in /srv/conda/lib/python3.9/site-packages (from requests>=2.0->wbdata) (1.26.15)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pandas in /srv/conda/lib/python3.9/site-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /srv/conda/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /srv/conda/lib/python3.9/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.17.3 in /srv/conda/lib/python3.9/site-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /srv/conda/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [17]:
## Topic Selection

In [75]:
# Returns the number of displaced people given the country/region
# This allows us to access any listed country/region within wbdata and see the number of people displaced between certain years
# **IMPORTANT: Some countries didn't track certain years, so a timeframe that matches most countries is required (eg. 2008-2017)**

population_displaced = wbdata.get_indicator(source=2) # World Development Indicators
variable = {"VC.IDP.NWDS": "Internally displaced persons, new displacement associated with disasters (number of cases)"} #SOURCE

dataframe = wbdata.get_dataframe(variable) # Creates dataframe
cleaned_df = dataframe.dropna() # Drops NaN values

df_index = cleaned_df.reset_index() # DF is in multi-indexed format; this resets the index to be more easily accessed
filtered_df = df_index[df_index['country'] == "World"] # Select location
 
filtered_df.head(50) #First 50 displayed; overshoot to be safe

,country,date,"Internally displaced persons, new displacement associated with disasters (number of cases)"
541,World,2022,32533018.0
542,World,2021,23725311.0
543,World,2020,30984299.0
544,World,2019,25285518.0
545,World,2018,17462844.0
546,World,2017,18587056.0
547,World,2016,24418613.0
548,World,2015,19188817.0
549,World,2014,19119870.0
550,World,2013,22125771.0
551,World,2012,30148600.0
552,World,2011,15023796.0
553,World,2010,42350100.0
554,World,2009,16734280.0
555,World,2008,38240123.0

In [94]:
# Returns the population size of a given country
# SOURCE = 40; Population estimates and projections

world_population = {"SP.POP.TOTL":"World Population"}
female_population = {"SP.POP.TOTL.FE.IN": "Population, female"}
male_population = {"SP.POP.TOTL.MA.IN":"Population, male"}

total_count = wbdata.get_dataframe(world_population, country="WLD") #"WLD" will be replaced with the given country ID as a parameter
male_count = wbdata.get_dataframe(male_population, country="WLD")
female_count = wbdata.get_dataframe(female_population, country="WLD")

      World Population
date
2022      7.950947e+09
2021      7.888306e+09
2020      7.820206e+09
2019      7.741775e+09
2018      7.660371e+09
...                ...
1964      3.260442e+09
1963      3.193429e+09
1962      3.126850e+09
1961      3.072422e+09
1960      3.031474e+09

[63 rows x 1 columns]

In [ ]:
def population(year, sex, age_range, location):

    pass